G2P_BRIDGE_DB_DBNAME=openg2p_g2p_bridge_db
G2P_BRIDGE_WORKER_TYPE=gunicorn
G2P_BRIDGE_HOST=0.0.0.0
G2P_BRIDGE_PORT=8000
G2P_BRIDGE_NO_OF_WORKERS=1

G2P_BRIDGE_JWT_VALIDATE_KEYMANAGER_APP_ID=G2PBRIDGE
G2P_BRIDGE_KEYMANAGER_API_BASE_URL=https://keymanager-pbms.mowsa.openg2p.org/v1/keymanager
G2P_BRIDGE_OAUTH_ENABLED=True
G2P_BRIDGE_OAUTH_URL=https://keycloak.openg2p.org/realms/master/protocol/openid-connect/token
G2P_BRIDGE_OAUTH_CLIENT_ID=g2pbridge
G2P_BRIDGE_OAUTH_CLIENT_SECRET=your_client_secret
