# Database
G2P_BRIDGE_CELERY_WORKERS_DB_DBNAME="openg2p_g2p_bridge_db"
G2P_BRIDGE_CELERY_WORKERS_DB_DATASOURCE_PBMS="postgresql://postgres:postgres@localhost:5432/pbmsdb"

# Celery
G2P_BRIDGE_CELERY_WORKERS_CELERY_BROKER_URL="redis://localhost:6379/0"
G2P_BRIDGE_CELERY_WORKERS_CELERY_BACKEND_URL="redis://localhost:6379/0"


# Mapper/Resolver
G2P_BRIDGE_CELERY_WORKERS_MAPPER_API_URL="http://127.0.0.1:8003/sync/resolve"
G2P_BRIDGE_CELERY_WORKERS_MAPPER_REQUEST_SENDER_ID="G2PBRIDGE"
G2P_BRIDGE_CELERY_WORKERS_MAPPER_REQUEST_JWT_ENABLED=True

# Deconstruct Strategies (Regex)
G2P_BRIDGE_CELERY_WORKERS_BANK_FA_DECONSTRUCT_STRATEGY="^account_number:(?P<account_number>.*)\.branch_code:(?P<branch_code>.*)\.bank_code:(?P<bank_code>.*)\.mobile_number:(?P<mobile_number>.*)\.email_address:(?P<email_address>.*)\.fa_type:(?P<fa_type>.*)$"
G2P_BRIDGE_CELERY_WORKERS_MOBILE_WALLET_DECONSTRUCT_STRATEGY="^mobile_number:(?P<mobile_number>.*)\.wallet_provider_name:(?P<wallet_provider_name>.*)\.wallet_provider_code:(?P<wallet_provider_code>.*)\.fa_type:(?P<fa_type>.*)$"
G2P_BRIDGE_CELERY_WORKERS_EMAIL_WALLET_DECONSTRUCT_STRATEGY="^email_address:(?P<email_address>.*)\.wallet_provider_name:(?P<wallet_provider_name>.*)\.wallet_provider_code:(?P<wallet_provider_code>.*)\.fa_type:(?P<fa_type>.*)$"

# Key Manager
G2P_BRIDGE_CELERY_WORKERS_SIGN_KEY_KEYMANAGER_APP_ID="G2PBRIDGE"
G2P_BRIDGE_CELERY_WORKERS_SIGN_KEY_KEYMANAGER_REF_ID=""
G2P_BRIDGE_CELERY_WORKERS_KEYMANAGER_API_TIMEOUT=10
G2P_BRIDGE_CELERY_WORKERS_KEYMANAGER_API_BASE_URL=""
G2P_BRIDGE_CELERY_WORKERS_OAUTH_ENABLED=true
G2P_BRIDGE_CELERY_WORKERS_OAUTH_URL=""
G2P_BRIDGE_CELERY_WORKERS_OAUTH_CLIENT_ID="openg2p-g2p-bridge"
G2P_BRIDGE_CELERY_WORKERS_OAUTH_CLIENT_SECRET=""

# Max Attempts
G2P_BRIDGE_CELERY_WORKERS_AGENCY_ALLOCATION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_WAREHOUSE_ALLOCATION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_GEO_RESOLUTION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_MAPPER_RESOLUTION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_CHECK_FUNDS_WITH_BANK_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_BLOCK_FUNDS_WITH_BANK_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_DISBURSE_FUNDS_WITH_BANK_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_MT940_PROCESSOR_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_AGENCY_NOTIFICATION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_WAREHOUSE_NOTIFICATION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_WORKERS_BENEFICIARY_NOTIFICATION_MAX_ATTEMPTS=3

# Bank Connectors
G2P_BRIDGE_BANK_CONNECTORS_FUNDS_AVAILABLE_CHECK_URL_EXAMPLE_BANK=http://127.0.0.1:8004/example-bank/check_funds
G2P_BRIDGE_BANK_CONNECTORS_FUNDS_BLOCK_URL_EXAMPLE_BANK=http://127.0.0.1:8004/example-bank/block_funds
G2P_BRIDGE_BANK_CONNECTORS_FUNDS_DISBURSEMENT_URL_EXAMPLE_BANK=http://127.0.0.1:8004/example-bank/initiate_payment

# Agency Allocator
G2P_BRIDGE_AGENCY_ALLOCATOR_DB_USERNAME_PBMS: str = "postgres"
G2P_BRIDGE_AGENCY_ALLOCATOR_DB_PASSWORD_PBMS: str = "postgres"
G2P_BRIDGE_AGENCY_ALLOCATOR_DB_HOSTNAME_PBMS: str = "localhost"
G2P_BRIDGE_AGENCY_ALLOCATOR_DB_PORT_PBMS: int = 5432
G2P_BRIDGE_AGENCY_ALLOCATOR_DB_DBNAME_PBMS: str = "pbmsdb"

# Warehouse Allocator
G2P_BRIDGE_WAREHOUSE_ALLOCATOR_DB_USERNAME_PBMS: str = "postgres"
G2P_BRIDGE_WAREHOUSE_ALLOCATOR_DB_PASSWORD_PBMS: str = "postgres"
G2P_BRIDGE_WAREHOUSE_ALLOCATOR_DB_HOSTNAME_PBMS: str = "localhost"
G2P_BRIDGE_WAREHOUSE_ALLOCATOR_DB_PORT_PBMS: int = 5432
G2P_BRIDGE_WAREHOUSE_ALLOCATOR_DB_DBNAME_PBMS: str = "pbmsdb"

# Geo Resolver
G2P_BRIDGE_GEO_RESOLVER_DB_USERNAME_REGISTRY: str = "postgres"
G2P_BRIDGE_GEO_RESOLVER_DB_PASSWORD_REGISTRY: str = "postgres"
G2P_BRIDGE_GEO_RESOLVER_DB_HOSTNAME_REGISTRY: str = "localhost"
G2P_BRIDGE_GEO_RESOLVER_DB_PORT_REGISTRY: int = 5432
G2P_BRIDGE_GEO_RESOLVER_DB_DBNAME_REGISTRY: str = "socialregistry"
