G2P_BRIDGE_CELERY_WORKERS_DB_HOSTNAME=localhost
G2P_BRIDGE_CELERY_WORKERS_DB_PORT=5432
G2P_BRIDGE_CELERY_WORKERS_DB_DBNAME=openg2p_g2p_bridge_db
G2P_BRIDGE_CELERY_WORKERS_DB_USERNAME=
G2P_BRIDGE_CELERY_WORKERS_DB_PASSWORD=

G2P_BRIDGE_CELERY_WORKERS_FUNDS_AVAILABLE_CHECK_URL_EXAMPLE_BANK="http://127.0.0.1:8003/check_funds"
G2P_BRIDGE_CELERY_WORKERS_FUNDS_BLOCK_URL_EXAMPLE_BANK="http://127.0.0.1:8003/block_funds"
G2P_BRIDGE_CELERY_WORKERS_FUNDS_DISBURSEMENT_URL_EXAMPLE_BANK="http://127.0.0.1:8003/initiate_payment"

G2P_BRIDGE_CELERY_WORKERS_CELERY_BROKER_URL="redis://localhost:6379/0"
G2P_BRIDGE_CELERY_WORKERS_CELERY_BACKEND_URL="redis://localhost:6379/0"

G2P_BRIDGE_CELERY_WORKERS_MAPPER_CLIENT_API_BASE_URL="http://127.0.0.1:8003/sync"
