G2P_BRIDGE_BENE_PORTAL_API_DB_USERNAME='postgres'
G2P_BRIDGE_BENE_PORTAL_API_DB_PASSWORD='password'
G2P_BRIDGE_BENE_PORTAL_API_DB_HOSTNAME='localhost'
G2P_BRIDGE_BENE_PORTAL_API_DB_PORT='5432'
G2P_BRIDGE_BENE_PORTAL_API_DB_DBNAME='bridgedb'
