# Database
G2P_BRIDGE_CELERY_BEAT_DB_DBNAME="openg2p_g2p_bridge_db"

# Celery
G2P_BRIDGE_CELERY_BEAT_CELERY_BROKER_URL="redis://localhost:6379/0"
G2P_BRIDGE_CELERY_BEAT_CELERY_BACKEND_URL="redis://localhost:6379/0"

# Max Attempts
G2P_BRIDGE_CELERY_BEAT_MAPPER_RESOLUTION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_FUNDS_AVAILABLE_CHECK_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_FUNDS_BLOCKED_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_FUNDS_DISBURSEMENT_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_STATEMENT_PROCESS_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_GEO_RESOLUTION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_WAREHOUSE_ALLOCATION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_AGENCY_ALLOCATION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_WAREHOUSE_NOTIFICATION_MAX_ATTEMPTS=3
G2P_BRIDGE_CELERY_BEAT_AGENCY_NOTIFICATION_MAX_ATTEMPTS=3

# Task Frequencies (in seconds)
G2P_BRIDGE_CELERY_BEAT_MAPPER_RESOLVE_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_FUNDS_AVAILABLE_CHECK_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_FUNDS_BLOCKED_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_FUNDS_DISBURSEMENT_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_MT940_PROCESSOR_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_GEO_RESOLUTION_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_WAREHOUSE_ALLOCATION_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_AGENCY_ALLOCATION_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_WAREHOUSE_NOTIFICATION_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_AGENCY_NOTIFICATION_FREQUENCY=3600
G2P_BRIDGE_CELERY_BEAT_BENEFICIARY_NOTIFICATION_FREQUENCY=3600

# Miscellaneous
G2P_BRIDGE_CELERY_BEAT_NO_OF_TASKS_TO_PROCESS=2
G2P_BRIDGE_CELERY_BEAT_DISBURSEMENT_RETRY_THRESHOLD_MINUTES=30
G2P_BRIDGE_CELERY_BEAT_PROCESS_FUTURE_DISBURSEMENT_SCHEDULES=false
G2P_BRIDGE_CELERY_BEAT_TASK_STALE_THRESHOLD_MINUTES=60
